<div class="chicken-form">
<%= simple_form_for(@chicken) do |f| %>
  <div class="form-group mt-2">
    <%= f.input :breed, input_html: {class: 'form-control', style: 'width: 50% !important;'} %>
  </div>

  <div class="form-group">
  <%= f.input :description, input_html: {class: 'form-control description', style: 'width: 70% !important;'} %>
  </div>

  <div class="form-group">
   <%= f.input :price, input_html: {class: 'form-control', style: 'width: 30% !important;'} %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
