<%# <div class= "text-center font-weight-bold">
<h1>Select a Chicken</h1>
</div> %>

<%# <div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8"> %>

<div class="search">
    <%= form_with url: chickens_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a chicken"
  %>
 <div class="search-btn m-auto"><%= submit_tag "Search", class: "btn btn-primary" %></div>
<% end %>
</div>

<%#
    </div>
  </div>
</div> %>

  <div class="cards">
    <% @chickens.each do |chicken| %>
    <%= link_to chicken_path(chicken) do %>
    <div class="card text-center card-style" style="width: 18rem;">
    <% if chicken.photo.key %>
      <%= cl_image_tag chicken.photo.key, height: 300, crop: :fill %>
    <% else %>
      <img src="https://www.outdoorhappens.com/wp-content/uploads/2022/01/practical-yolkers.jpg" alt="" style="height: 300px;">
    <% end %>
        <div class="card-body ">
        <h3><%= chicken.breed %></h3>
        </div>
    </div>
      <% end %>
    <% end %>
  </div>

  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets3.lottiefiles.com/private_files/lf30_xCduP0.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
<%#
      <p><strong>Description:</strong> <%= chicken.description</p>
      <%# <p><strong>Price:</strong> $<%= chicken.price</p> %>
