
<div class= "text-center font-weight-bold">
<h1>Your chickens</h1>

</div>

<div class="my-chicken-cards">
    <%# <li> %>
    <%# <div class = "chicken-container"> %>
    <%# <p><strong>Description:</strong> <%= chicken.description %></p>
  <%# </div> %>
    <%# </li> %>

  <% @chickens.each do |chicken| %>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"></p>
    </div>
    <%= link_to chicken.breed, chicken_path(chicken) %>
    <p><strong>Price:</strong> $<%= chicken.price %></p>

    <%= link_to 'Edit Chicken', edit_chicken_path(chicken) %>
    <%= link_to 'Delete Chicken', chicken_path(chicken), data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this chicken?' } %>

  </div>
  <% end %>
</div>
