

<div class="chicken-show" id="chicken-egg" >
<%# Add cl image tag for the chickens %>

 <% if @chicken.photo.key %>
 <%= cl_image_tag @chicken.photo.key, height: 300, crop: :fill %>
 <% else %>
    <img src="https://www.outdoorhappens.com/wp-content/uploads/2022/01/practical-yolkers.jpg" alt="" style="height: 230px;">
  <% end %>

  <h1><%= @chicken.breed %></h1>

  <div class="chicken-details">
  <%# Don't need to say 'Description' %>



  <div class="chicken-details">
    <p><strong>Description:</strong> <%= @chicken.description %></p>
    <p><strong>Price:</strong> $<%= @chicken.price %></p>
    <p><strong>Owner:</strong> <%= @chicken.user.email %></p>
  </div>


  <%# remove hyperlink styling %>
  <div class="no-link">
    <p><%= link_to 'Back to Chicken List', chickens_path %></p>
  </div>
  </div>

</div>


<div class="form container mt-4">
  <% if current_user != @chicken.user %>
  <%= render 'bookings/new' %>
  <% else %>
    <p><%= link_to 'Go to bookings', bookings_path %></p>
  <% end %>
</div>
