<div class="chicken-show" >
<h1> Chickens show page </h1>
</div>

<div class="chicken-show" >
<h1><%= @chicken.breed %></h1>

  <div class="chicken-details">
    <p><strong>Description:</strong> <%= @chicken.description %></p>
    <p><strong>Price:</strong> $<%= @chicken.price %></p>
    <p><strong>Owner:</strong> <%= @chicken.user.email %></p>
  </div>

  <p><%= link_to 'Back to Chicken List', chickens_path %></p>

</div>


<div class="form container mt-4">
  <%= render 'bookings/new' %>
</div>
