

<div class="chicken-show" id="chicken-egg" >
<%# Add cl image tag for the chickens %>
 <%= cl_image_tag @chicken.photo.key , class: "images" if @chicken.photo.key != nil%>

  <h1><%= @chicken.breed %></h1>

  <div class="chicken-details">
  <%# Don't need to say 'Description' %>
    <p> <%= @chicken.description %></p>


  <div class="chicken-details">
    <p><strong>Description:</strong> <%= @chicken.description %></p>
    <p><strong>Price:</strong> $<%= @chicken.price %></p>
    <p><strong>Owner:</strong> <%= @chicken.user.email %></p>
  </div>


  <%# remove hyperlink styling %>
  <div class="no-link">
    <p><%= link_to 'Back to Chicken List', chickens_path %></p>
  </div>
  </div>

</div>


<div class="form container mt-4">
  <% if current_user != @chicken.user %>
  <%= render 'bookings/new' %>
  <% else %>
    <p><%= link_to 'Go to bookings', bookings_path %></p>
  <% end %>
</div>
