
<p><strong>Bookings</strong></p>

<% if @bookings.blank? %>
<p>You have currently have no bookings availible</p>
<% else %>
<p>Here are your bookings</p>
<% end %>

<ul class="list-group">
  <% @chicken.bookings.each do |booking| %>
    <li class="list-group-item"><%= booking.breed.price.description %></li>
     <p><%= link_to booking.breed "Add new Booking"%></p>
  <% end %>
</ul>
<br>


<%# <h2>Add a Chicken</h2>

<%= form_with model: Chicken.new, url: chickens_path do |form| %>
  <%# <div class="field">
    <%= form.label :breed %>
    <%# <%= form.text_field :breed %>
  <%# </div>

  <div class="field">
    <%= form.label :description %>
    <%# <%= form.text_area :description %>
  <%# </div> %>
<%#
  <div class="field">
    <%= form.label :price %>
    <%# <%= form.number_field :price %>
  <%# </div> %>

  <%# <div class="actions"> %>
    <%# <%= form.submit 'Create Chicken' %>
  <%# </div> %>
<%# <% end %>
