<!DOCTYPE html>
<html>
  <head>
    <title>RailsRentChickens</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>

     <style type="text/css">* {cursor: url(https://cur.cursors-4u.net/games/gam-10/gam934.ani), url(https://cur.cursors-4u.net/games/gam-10/gam934.png), auto !important;}</style><a href="https://www.cursors-4u.com/cursor/2009/04/03/chicken-2.html" target="_blank" title="Chicken"><img src="https://cur.cursors-4u.net/cursor.png" border="0" alt="Chicken" style="position:absolute; top: 0px; right: 0px;" /></a>

  </body>
</html>
